**/*.pyc
**/__pycache__
.pytest_cache
**/.git
**/.gitignore
**/.github
**/.DS_Store
**/env
**/.vscode
**/.env

README.md
deploy
Dockerfile
docker-compose.*.yml

setup.cfg
.pre-commit-config.yaml
.yapfignore

build_dev.sh
build_prod.sh
down_dev.sh
down_prod.sh
up_dev.sh
up_prod.sh
